<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Please sign in with admin authentication to use these functions !</h1>
        <h2>
          You are not logged into the system</h2>

        <div class="error-details">
        <a routerLink="/login1">Sign In Now</a>  (if you don't have account, please contact with email of admin: <a>phamvuhoangtuan1604@gmail.com</a>)
        </div>
        <div class="error-actions">
          <div class="col-md-6">
            <a routerLink="#" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> Sign in with Facebook
            </a></div>
          <div class="col-md-6">
            <a routerLink="#" class="btn btn-block btn-social btn-google-plus">
               <i class="fa fa-google-plus"></i> Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-ban red"></i> 403 Forbidden </h1>
    <p class="lead">Sorry! You don't have access permissions for that on <em><span id="display-domain"></span></em>.</p>
    <p><a routerLink="/home" class="btn btn-default btn-lg green">Take Me To The Homepage</a></p>
  </div>
</div>

<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-md-6">
        <h2>What happened?</h2>
        <p class="lead">A 403 error status indicates that you don't have permission to access the file or page. In general, web servers and websites have directories and files that are not open to the public web for security reasons.</p>
      </div>
      <div class="col-md-6">
        <h2>What can I do?</h2>
        <p class="lead">If you're a site visitor</p>
        <p>Please use your browsers back button and check that you're in the right place. If you need immediate assistance, please send us an email instead.</p>
        <p class="lead">If you're the site owner</p>
         <p>Please check that you're in the right place and get in touch with your website provider if you believe this to be an error.</p>
     </div>
    </div>
  </div>
</div>