
<div class="container">
  <div class="card card-outline-danger pointer">
    <h4 class="card-header card-danger" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">My Events</h4>
    <div class="collapse" id="collapseExample" >
      <ul class="list-group list-group-flush" *ngFor="let event of events">
        <a class="list-group-item" (click)="getClientByEvent(event._id)">{{event.title}}</a>
      </ul>
    </div>
  </div>

  <form class="navbar-form" role="search">
    <div class="dropdown">
      <div class="input-group">
        <input type="text" class="form-control" id="searchname" name="searchname"[(ngModel)]="searchtext" placeholder="Search for full name" style="width:350px; margin-right: 10px">
        <input type="text" class="form-control" id="searchjob" name="searchjob"[(ngModel)]="searchtext01" placeholder="Search for job" style="width:350px; margin-right: 10px">
        <input type="text" class="form-control" id="searchskill" name="searchskill"[(ngModel)]="searchtext02" placeholder="Search for skill" style="width:350px; margin-right: 10px">
      </div>
    </div>  
  </form>

  <div class="card card-outline-primary">
  <h4 class="card-header">Participated Clients ({{clients.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr >
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Job</th>
          <th>Skill</th>
        </tr>
      </thead>
       <tbody *ngIf="clients.length === 0">
        <tr>
          <td colspan="4">There are no clients who take part in this event</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let client of clients">
        <!-- | paginate: { itemsPerPage:5, currentPage: p}"> -->
          <td>{{client.fullname}}</td>
          <td>{{client.email}}</td>
          <td>{{client.phonenumber}}</td>
          <td>{{client.job}}</td>
          <td>{{client.skill}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="row">
      <div *ngIf="true">
        <pagination-controls autoHide="true" (pageChange)="p = $client"></pagination-controls>
      </div>
    </div> -->
  </div>
</div>

</div>



